/target/
**/*.rs.bk
Cargo.lock
/benches/ont/o1000*.owl
/benches/ont/o5000*.owl
/notes.org
/src/bin/horned_temp.rs
/tmp/
/big-owl
/makefile-local

# IDEs
.vscode/

# Mac OS X
.DS_Store
/flamegraph.svg
/perf.data
/perf.data.old
