/target/
**/*.rs.bk
Cargo.lock
/notes.org
/src/bin/horned_temp.rs
/tmp/
/big-owl
/makefile-local

# IDEs
.vscode/
.claude/

# Emacs
\#*\#
*~

# Mac OS X
.DS_Store
/dev/bubo-0.4.0
/flamegraph.svg
/perf.data
/perf.data.old
