# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -  id: untracked-file
       name: Untracked Files
       language: system
       entry: ./dev/untracked-files.sh
       pass_filenames: false
       stages: [pre-commit, pre-push]
    -  id: run-tests
       name: Running Test
       language: system
       entry: make pre-commit
       pass_filenames: false
       stages: [pre-commit, pre-push]
    -  id: Compile Benches
       name: Compile Benches
       language: system
       entry: cargo bench --no-run --quiet
       pass_filenames: false
       stages: [pre-commit, pre-push]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-added-large-files
        args: ["--maxkb=1000"]
    -   id: no-commit-to-branch
        args: [--branch, rfc]
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
        args: ["--check", "--"]
        pass_filenames: false
    -   id: clippy
        pass_filenames: false
